# Displaying airport data

## Loading data

You have been provided a database built on SQLite which contains information about airports, provided by the Microsoft for creating the open-source course [Data Science for Beginners](https://github.com/microsoft/Data-Science-For-Beginners). Dataset is available in [this GitHub Repository](https://github.com/microsoft/Data-Science-For-Beginners/blob/main/2-Working-With-Data).

In [ ]:
%pip install ipython-sql
%load_ext sql
%sql sqlite:///../../assets/data/airports.db # loading from disk

Create queries to return the following information

1. all city names in the Cities table

In [ ]:
%%sql
    SELECT City FROM Cities

2. all cities in Ireland in the Cities table

In [ ]:
%%sql
    SELECT * FROM Cities WHERE Country = 'Ireland'

3. all airport names with their city and country

In [ ]:
%%sql
    SELECT Airports.name, Cities.city, Cities.country
    FROM Airports
    INNER JOIN Cities ON Airports.city_id = Cities.id

4. all airports in London, United Kingdom

In [ ]:
%%sql
SELECT Airports.name, Cities.city, Cities.country
FROM Airports
INNER JOIN Cities ON Airports.city_id = Cities.id
WHERE Cities.city = 'London' AND Cities.country = 'United Kingdom'

## Acknowledgments

Thanks to Microsoft for creating the open-source course [Data Science for Beginners](https://github.com/microsoft/Data-Science-For-Beginners). It inspires the majority of the content in this chapter.