# Visualize SQL with SQLTutor


Created by Eugene Wu and Robert Ward, [SQLTutor](https://github.com/cudbg/sqltutor) visualizes each operator in the SQL query plan. It is an open-source web-based tool for learning SQL. 🐘

It's Interactive.
Users can Click on an operator to visualize its input and output tables, along with their row/column dependence.👍

It also supports adding tables in CSV textareasv data. 💾

Overall, we think it's a great tool to learn and teach SQL. 🎓👨‍🏫 
Definitely check it out if you want to level up your SQL skills.

## Get started

In [1]:
# Install the necessary dependencies

import os
import sys
!{sys.executable} -m pip install --quiet ipython

from IPython.display import HTML

## Visualize SELECT

```SQL
SELECT *
FROM sailors
WHERE rating > 5
```

In [2]:
display(HTML("""
  <iframe width="1000" height="1600" scrolling="no" frameborder="0" src="https://cudbg.github.io/sqltutor/?q=select%20*%0Afrom%20sailors%0Awhere%20rating%20%3E%205&csvs=%5B%5D"> </iframe>
"""))

## Visualize JOIN

```SQL
SELECT s.sid, r.bid
FROM sailors as s,
     reserves as r
WHERE s.sid = r.sid
```

In [3]:
display(HTML("""
  <iframe width="1000" height="1600" scrolling="no" frameborder="0" src="https://cudbg.github.io/sqltutor/?q=SELECT%20s.sid,%20r.bid%0AFROM%20sailors%20as%20s,%0A%20%20%20%20%20reserves%20as%20r%0AWHERE%20s.sid%20=%20r.sid&csvs=%5B%5D"> </iframe>
"""))

## Visualize GROUPBY

Consider a slightly more complex query like this. SQLtutor breaks it down step-by-step.
```SQL
SELECT s.sid, sum(s.age)
FROM sailors as s,
     reserves as r
WHERE s.sid = r.sid
GROUP BY s.sid
HAVING count(1) > 1
```

In [4]:
display(HTML("""
  <iframe width="1000" height="1600" scrolling="no" frameborder="0" src="https://cudbg.github.io/sqltutor/?q=SELECT%20s.sid,%20sum(s.age)%0AFROM%20sailors%20as%20s,%0A%20%20%20%20%20reserves%20as%20r%0AWHERE%20s.sid%20=%20r.sid%0AGROUP%20BY%20s.sid%0AHAVING%20count(1)%20%3E%201&csvs=%5B%5D"> </iframe>
"""))